body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 25px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 25px;
  color: red;
}
.carousel-indicators li{
  background-color: red;
}

.btn-facebook{
  background:#4868ac;
  border-color: #314776;
}
.btn-pinterest{
  background: #b62f26;
  border-color: #b62f26;
}
.btn-twitter{
  background: #00acee;
  border-color: #009ad5;
}
#social-buttons button {
  color: white;
}

a.copy {
  color:grey;
}
